<!DOCTYPE html>
<html>
  <head>
    <title>Snitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <footer>
      <a href="http://www.freepik.com/free-vector/vintage-sunburst-background-in-comic-style_946750.htm" class="freepik">Background image designed by Freepik</a>
    </footer>
    <%= yield %>
  </body>
</html>
